body, body * {
  max-height: 1000000px;
}

.connectedLocationId {
  color: blue;
  font-weight: bold;
}
.App {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.pageNumber {
  font-size: 8pt;
  font-weight: normal;  
}

.Character th,
.Location th {
  text-align: left;
}

.notesCallout {
  font-weight: bold;
  padding: 10px 10px 0px 10px;
}

.TextPage,
.Location,
.Character {  
  height: 8.477in;
  width: 13cm; 
  background-color: white;
  margin: 10px 10px;
  font-size: 10px;
  overflow: hidden;
}

.infoHeader {
  margin-top: 15px;
  font-weight: bold;
  font-size: 12pt;
}

.infoPara {
  font-size: 10pt;
  margin-top: 5px;
}


.Character td:first-child, 
.Location td:first-child {  
  text-transform: capitalize;  
}  

@media screen and (max-device-width: 640px) {
  .Character, .Location {    
    height: inherit;    
  }
}


body {
  -webkit-print-color-adjust: exact !important;
}

body table {
  border-spacing: 0;
  border-collapse: separate;
}  
.header { 
  margin-top: 15px;
  display: flex;
  font-size: 14pt;
  justify-content: space-between;
  padding: 5px;
  object-fit: cover;
  font-weight: bold;  
}  

.idContainer { 
  width: 70px;
  justify-content: space-between;
  display: flex;
  align-items: baseline;
}  

  
.storyInfo td:first-child {  
  text-transform: capitalize;
}  


.storyInfo {
  width: 100%;
}

.storyInfo tr:nth-child(odd) td {  
  background-color: #E7E7E7;
}

.Character .brownBlock td:first-child,
.Character .blueBlock td:first-child {
  width: 65px;
}

.storyValue, 
.storyTitle {   
  vertical-align: top;  
  padding: 3px;
}

table.twoLine td {
  height: 2rem;
  vertical-align: top;
}

.stripped tr:nth-child(odd) td {  
  background-color: #E7E7E7;
}

.fullWidth {
  width: 100%;
}

.highlightText {
  font-size: 10pt;
  font-weight: bold;
}

table.greyBlock td, 
table.blueBlock td,
table.brownBlock td {
  border-bottom: 1px dotted white;
  padding: 3px;
  font-size: 8pt;
}

table.greyBlock,
table.blueBlock, 
table.brownBlock {
  width: 100%;
  margin-top: 10px;
}

table.blueBlock td {
  background-color: #cce6ff;
}
table.greyBlock td {
  background-color: #E7E7E7;
}
table.brownBlock td {
  background-color: bisque;
}

.greenText {
  color: green;
}

.boldText {
  font-weight: bold !important;
}

.bigText {
  /* font-size: 10pt !important; */
}

