  
  /* .Character .pageTop {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }  
   */

   .Character .pageTop {
    /* grid-template-columns: 1fr 1fr 0.75fr;

    display: grid;
    grid-column: 3;
    grid-row: 2;
    grid-gap: 10px;
    width: 100%; */
  }  


  .Character .combatStatValue-armorClass,  
  .Character .combatStatValue-bonus,
  .Character .combatStatValue-damage,
  .Character .combatStatValue-hitPoints {
    font-weight: bold;
    font-size: 10pt;
  }
  
  .Character .pageTop table,
  .Character .midPage table {
    margin-top: 0;
    vertical-align: top;

  }

  .Character .midPage {
    display: flex;
    align-items: flex-start;
    margin: 15px 0 ;
  }  
  
  .Character .midPage .basicInfo {
    width: 35%;
    margin-right: 0;    
  }
      
  .Character td.right, .Character th.right {
    text-align: right;  
  }  
  
  .Character td.left, .Character th.left {
    text-align: left;  
  }  
  
  .Character .storyTitle {  
    vertical-align: top;
    width: 30px; 
  }
  
  .Character .storyValue {  
    padding: 3px;
    vertical-align: top;  
  }
  
  .Character .storyValue, 
  .Character .storyTitle {  
    height: 2rem;  
    vertical-align: top;  
    padding: 3px;
  }
  
  .Character .dialogue.storyValue, 
  .Character .dialogue.storyTitle {
    height: 1.2rem;  
  }  
  
  .Character .dialogue tr td {  
    background-color: #cce6ff;
    border-bottom: 1px dotted white;
  }


  .Character .storyInfo tr td {
    background-color: bisque;
    border-bottom: 1px dotted white;    
  }
  
  
  
  .Character .rewards {
    width: 100%;
  }
  
  .Character .portrait {  
    width: 75px;
    height: 100px;
    background-color: lightgray;
  }  
  .Character .id { 
    color: green;
    
  }  